
body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.sweet-alert {
    background-color: white;
    border-radius: 5px;
    display: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    padding: 17px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 478px;
    z-index: 99999;
}
@media all and (max-width: 540px) {
    .sweet-alert {
        left: 15px;
        margin-left: 0;
        margin-right: 0;
        right: 15px;
        width: auto;
    }
}
.sweet-alert h2 {
    color: #575757;
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 25px 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: none;
}
.sweet-alert p {
    color: #797979;
    float: none;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: inherit;
}
.sweet-alert fieldset {
    border: medium none;
    position: relative;
}
.sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: padding 0.15s ease 0s, max-height 0.15s ease 0s;
}
.sweet-alert .sa-error-container.show {
    max-height: 100px;
    padding: 10px 0;
    transition: padding 0.25s ease 0s, max-height 0.25s ease 0s;
}
.sweet-alert .sa-error-container .icon {
    background-color: #ea7d7d;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-right: 3px;
    text-align: center;
    width: 24px;
}
.sweet-alert .sa-error-container p {
    display: inline-block;
}
.sweet-alert .sa-input-error {
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 26px;
    top: 29px;
    transform: scale(0.5);
    transform-origin: 50% 50% 0;
    transition: all 0.1s ease 0s;
    width: 20px;
}
.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
    background-color: #f06e57;
    border-radius: 3px;
    content: "";
    height: 6px;
    left: 50%;
    margin-left: -9px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.sweet-alert .sa-input-error::before {
    transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::after {
    transform: rotate(45deg);
}
.sweet-alert .sa-input-error.show {
    opacity: 1;
    transform: scale(1);
}
.sweet-alert input {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;
    box-sizing: border-box;
    display: none;
    font-size: 18px;
    height: 43px;
    margin-bottom: 17px;
    margin-top: 10px;
    padding: 0 12px;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.sweet-alert input:focus {
    border: 1px solid #b4dbed;
    box-shadow: 0 0 3px #c4e6f5;
    outline: medium none;
}
.sweet-alert input:focus::-moz-placeholder {
    opacity: 0.5;
    transition: opacity 0.3s ease 0.03s;
}
.sweet-alert input::-moz-placeholder {
    color: #bdbdbd;
}
.sweet-alert.show-input input {
    display: block;
}
.sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative;
}
.sweet-alert .la-ball-fall {
    left: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    visibility: hidden;
}
.sweet-alert button {
    background-color: #8cd4f5;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 26px 5px 0;
    padding: 10px 32px;
}
.sweet-alert button:focus {
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    outline: medium none;
}
.sweet-alert button:hover {
    background-color: #7ecff4;
}
.sweet-alert button:active {
    background-color: #5dc2f1;
}
.sweet-alert button.cancel {
    background-color: #c1c1c1;
}
.sweet-alert button.cancel:hover {
    background-color: #b9b9b9;
}
.sweet-alert button.cancel:active {
    background-color: #a8a8a8;
}
.sweet-alert button.cancel:focus {
    box-shadow: 0 0 2px rgba(197, 205, 211, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.047) inset !important;
}
.sweet-alert button[disabled] {
    cursor: default;
    opacity: 0.6;
}
.sweet-alert button.confirm[disabled] {
    color: transparent;
}
.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}
.sweet-alert button::-moz-focus-inner {
    border: 0 none;
}
.sweet-alert[data-has-cancel-button="false"] button {
    box-shadow: none !important;
}
.sweet-alert[data-has-confirm-button="false"][data-has-cancel-button="false"] {
    padding-bottom: 40px;
}
.sweet-alert .sa-icon {
    border: 4px solid gray;
    border-radius: 50%;
    box-sizing: content-box;
    height: 80px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    width: 80px;
}
.sweet-alert .sa-icon.sa-error {
    border-color: #f27474;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
    display: block;
    position: relative;
}
.sweet-alert .sa-icon.sa-error .sa-line {
    background-color: #f27474;
    border-radius: 2px;
    display: block;
    height: 5px;
    position: absolute;
    top: 37px;
    width: 47px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    left: 17px;
    transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    right: 16px;
    transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-warning {
    border-color: #f8bb86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
    background-color: #f8bb86;
    border-radius: 2px;
    height: 47px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 10px;
    width: 5px;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
    background-color: #f8bb86;
    border-radius: 50%;
    bottom: 10px;
    height: 7px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 7px;
}
.sweet-alert .sa-icon.sa-info {
    border-color: #c9dae1;
}
.sweet-alert .sa-icon.sa-info::before {
    background-color: #c9dae1;
    border-radius: 2px;
    bottom: 17px;
    content: "";
    height: 29px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    width: 5px;
}
.sweet-alert .sa-icon.sa-info::after {
    background-color: #c9dae1;
    border-radius: 50%;
    content: "";
    height: 7px;
    margin-left: -3px;
    position: absolute;
    top: 19px;
    width: 7px;
}
.sweet-alert .sa-icon.sa-success {
    border-color: #a5dc86;
}
.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
    background: white none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 120px;
    position: absolute;
    transform: rotate(45deg);
    width: 60px;
}
.sweet-alert .sa-icon.sa-success::before {
    border-radius: 120px 0 0 120px;
    left: -33px;
    top: -7px;
    transform: rotate(-45deg);
    transform-origin: 60px 60px 0;
}
.sweet-alert .sa-icon.sa-success::after {
    border-radius: 0 120px 120px 0;
    left: 30px;
    top: -11px;
    transform: rotate(-45deg);
    transform-origin: 0 60px 0;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    height: 80px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 80px;
    z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
    background-color: white;
    height: 90px;
    left: 28px;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 5px;
    z-index: 1;
}
.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #a5dc86;
    border-radius: 2px;
    display: block;
    height: 5px;
    position: absolute;
    z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
    width: 25px;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
    width: 47px;
}
.sweet-alert .sa-icon.sa-custom {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: medium none;
    border-radius: 0;
}
@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}
@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}
@keyframes slideFromTop {
    0% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}
@keyframes slideFromTop {
    0% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}
@keyframes slideToTop {
    0% {
        top: 50%;
    }
    100% {
        top: 0;
    }
}
@keyframes slideToTop {
    0% {
        top: 50%;
    }
    100% {
        top: 0;
    }
}
@keyframes slideFromBottom {
    0% {
        top: 70%;
    }
    100% {
        top: 50%;
    }
}
@keyframes slideFromBottom {
    0% {
        top: 70%;
    }
    100% {
        top: 50%;
    }
}
@keyframes slideToBottom {
    0% {
        top: 50%;
    }
    100% {
        top: 70%;
    }
}
@keyframes slideToBottom {
    0% {
        top: 50%;
    }
    100% {
        top: 70%;
    }
}
.showSweetAlert[data-animation="pop"] {
    animation: 0.3s ease 0s normal none 1 running showSweetAlert;
}
.showSweetAlert[data-animation="none"] {
    animation: 0s ease 0s normal none 1 running none;
}
.showSweetAlert[data-animation="slide-from-top"] {
    animation: 0.3s ease 0s normal none 1 running slideFromTop;
}
.showSweetAlert[data-animation="slide-from-bottom"] {
    animation: 0.3s ease 0s normal none 1 running slideFromBottom;
}
.hideSweetAlert[data-animation="pop"] {
    animation: 0.2s ease 0s normal none 1 running hideSweetAlert;
}
.hideSweetAlert[data-animation="none"] {
    animation: 0s ease 0s normal none 1 running none;
}
.hideSweetAlert[data-animation="slide-from-top"] {
    animation: 0.4s ease 0s normal none 1 running slideToTop;
}
.hideSweetAlert[data-animation="slide-from-bottom"] {
    animation: 0.3s ease 0s normal none 1 running slideToBottom;
}
@keyframes animateSuccessTip {
    0% {
        left: 1px;
        top: 19px;
        width: 0;
    }
    54% {
        left: 1px;
        top: 19px;
        width: 0;
    }
    70% {
        left: -8px;
        top: 37px;
        width: 50px;
    }
    84% {
        left: 21px;
        top: 48px;
        width: 17px;
    }
    100% {
        left: 14px;
        top: 45px;
        width: 25px;
    }
}
@keyframes animateSuccessTip {
    0% {
        left: 1px;
        top: 19px;
        width: 0;
    }
    54% {
        left: 1px;
        top: 19px;
        width: 0;
    }
    70% {
        left: -8px;
        top: 37px;
        width: 50px;
    }
    84% {
        left: 21px;
        top: 48px;
        width: 17px;
    }
    100% {
        left: 14px;
        top: 45px;
        width: 25px;
    }
}
@keyframes animateSuccessLong {
    0% {
        right: 46px;
        top: 54px;
        width: 0;
    }
    65% {
        right: 46px;
        top: 54px;
        width: 0;
    }
    84% {
        right: 0;
        top: 35px;
        width: 55px;
    }
    100% {
        right: 8px;
        top: 38px;
        width: 47px;
    }
}
@keyframes animateSuccessLong {
    0% {
        right: 46px;
        top: 54px;
        width: 0;
    }
    65% {
        right: 46px;
        top: 54px;
        width: 0;
    }
    84% {
        right: 0;
        top: 35px;
        width: 55px;
    }
    100% {
        right: 8px;
        top: 38px;
        width: 47px;
    }
}
@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
.animateSuccessTip {
    animation: 0.75s ease 0s normal none 1 running animateSuccessTip;
}
.animateSuccessLong {
    animation: 0.75s ease 0s normal none 1 running animateSuccessLong;
}
.sa-icon.sa-success.animate::after {
    animation: 4.25s ease-in 0s normal none 1 running rotatePlaceholder;
}
@keyframes animateErrorIcon {
    0% {
        opacity: 0;
        transform: rotateX(100deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes animateErrorIcon {
    0% {
        opacity: 0;
        transform: rotateX(100deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
.animateErrorIcon {
    animation: 0.5s ease 0s normal none 1 running animateErrorIcon;
}
@keyframes animateXMark {
    0% {
        margin-top: 26px;
        opacity: 0;
        transform: scale(0.4);
    }
    50% {
        margin-top: 26px;
        opacity: 0;
        transform: scale(0.4);
    }
    80% {
        margin-top: -6px;
        transform: scale(1.15);
    }
    100% {
        margin-top: 0;
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes animateXMark {
    0% {
        margin-top: 26px;
        opacity: 0;
        transform: scale(0.4);
    }
    50% {
        margin-top: 26px;
        opacity: 0;
        transform: scale(0.4);
    }
    80% {
        margin-top: -6px;
        transform: scale(1.15);
    }
    100% {
        margin-top: 0;
        opacity: 1;
        transform: scale(1);
    }
}
.animateXMark {
    animation: 0.5s ease 0s normal none 1 running animateXMark;
}
@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}
@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}
.pulseWarning {
    animation: 0.75s ease 0s alternate none infinite running pulseWarning;
}
@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}
@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}
.pulseWarningIns {
    animation: 0.75s ease 0s alternate none infinite running pulseWarningIns;
}
@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
}
.sweet-alert .sa-icon.sa-success {
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
}
.la-ball-fall, .la-ball-fall > div {
    box-sizing: border-box;
    position: relative;
}
.la-ball-fall {
    color: #fff;
    display: block;
    font-size: 0;
}
.la-ball-fall.la-dark {
    color: #333;
}
.la-ball-fall > div {
    background-color: currentcolor;
    border: 0 solid currentcolor;
    display: inline-block;
    float: none;
}
.la-ball-fall {
    height: 18px;
    width: 54px;
}
.la-ball-fall > div {
    animation: 1s ease-in-out 0s normal none infinite running ball-fall;
    border-radius: 100%;
    height: 10px;
    margin: 4px;
    opacity: 0;
    width: 10px;
}
.la-ball-fall > div:nth-child(1) {
    animation-delay: -200ms;
}
.la-ball-fall > div:nth-child(2) {
    animation-delay: -100ms;
}
.la-ball-fall > div:nth-child(3) {
    animation-delay: 0ms;
}
.la-ball-fall.la-sm {
    height: 8px;
    width: 26px;
}
.la-ball-fall.la-sm > div {
    height: 4px;
    margin: 2px;
    width: 4px;
}
.la-ball-fall.la-2x {
    height: 36px;
    width: 108px;
}
.la-ball-fall.la-2x > div {
    height: 20px;
    margin: 8px;
    width: 20px;
}
.la-ball-fall.la-3x {
    height: 54px;
    width: 162px;
}
.la-ball-fall.la-3x > div {
    height: 30px;
    margin: 12px;
    width: 30px;
}
@keyframes ball-fall {
    0% {
        opacity: 0;
        transform: translateY(-145%);
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(145%);
    }
}
@keyframes ball-fall {
    0% {
        opacity: 0;
        transform: translateY(-145%);
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(145%);
    }
}
@keyframes ball-fall {
    0% {
        opacity: 0;
        transform: translateY(-145%);
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translateY(145%);
    }
}
