<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kel Agence</title>
    <meta charset="utf-8">
</head>

<body>
    <form method="post" action="/authentication">
        <input type="text" name="user" placeholder="id">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Valider">
    </form>
</body>

<script>

</script>